
div.mainhead.red{  
    background-image: url("../img/background/red.jpg");
}  

div.mainhead.black{  
    background-image: url("../img/background/black.jpg");
}  

div.mainhead.green{  
    background-image: url("../img/background/green.jpg");
}  

.room {
    position: absolute;
    width: 22rem;
    margin-top: -2rem;
    margin-left: 14rem;
}
