*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/background/indexBackground.png)  no-repeat center center fixed; ;
    background-repeat : no-repeat;
    background-size : cover;
}

a {
    text-decoration: none;
    color: inherit; /* 링크의 색상 제거 */
}

ul, li {
    list-style: none;
}



/* 헤더 */
header{
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header > div{
    width: 90%;
    min-width: 1000px;
    max-width: 1209px;
    height: 100px;
    margin: 0 auto;
}
header .logo{
    float: left;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
header .logo img{
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    
    /* padding-top: 15px; */
}
header .logo span{
    margin-top: 10px;
    margin-left: 10px;
}

header .gnb{
    float: right;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* padding-top: 39px; */
}
header .gnb li {
    display: inline-block;
    margin-left: 30px;
}
header .gnb li:first-child{
    margin-left: 0;
}
header .gnb li a {
    font-size: 24px;
    position: relative;
    padding: 6px 12px;
}
header .gnb li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .3s ease-out;
}
header .gnb li a:hover::after {
    width: 100%;
}
header .gnb li a.selected::after{
    width:100%;
}



/* 메인 */
main{

}
section{
    position: relative;
    top: 10vh;
    height: 80vh;
}
section:last-child{
    height: 90vh;
}

section.home{
    background: #f1c40f;
    opacity: 0.1;
}
section.about{
    background: #84fff3;
    opacity: 0.1;
}
section.intro{
    background: #f47bff;
    opacity: 0.1;
}


/* 푸터 */
footer{
    position: fixed;
    bottom: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 0px;
    color: #fff;
}

footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0rem 0;
}

footer .socials li{
    margin: 0 10px;

}

footer .socials a {
    text-decoration: none;
    color:#fff
}

footer .socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

footer .socials a:hover i {
    color: #f1c40f
}

footer .footer-bottom{
    background: #111;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

footer .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

footer .footer-bottom span{
    /* text-transform: uppercase; */
    opacity: .4;
}