body{
    font-family: "Neodgm";
    background-color: #383f3a;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

div#main{
    zoom:1.1;
    position: absolute;
    background-color: #ffffff;
    height: 183px;
    width: 800px;
    top: 42%;
    left: 50%;
    right: 50%;
    margin-left:-400px;
    margin-top:-10px;
    border: solid 1px gray;
    border-style: none;
    border-radius: 8px;
}

div#main.main_darkMode{
    background-color: rgb(56, 56, 56);
}



/* 1단 */
div#mainhead{  
    background-repeat: repeat-x;
    transition: background 5s;
    background-size:100%;
    background-color: #ffffff; 
    border-radius: 7px 7px 7px 7px;
    position: absolute;
    height: 240px;
    width: 800px;
    left: 50%;
    right: 50%;
    margin-left:-400px;
    margin-top:-280px; 
    border: solid 1px gray;
    border-style: none;
}  


/* 2단 */
.indicater{
    position: absolute;
    background-color: #ffffff;
    border-radius: 7px 7px 7px 7px;
    height: 31px;
    width: 800px;
    top: -14%;
    left: 50%;
    right: 50%;
    margin-left:-400px;
    margin-top:-10px;
    border-style: none;
    font-size: 20px;
    text-align: center;
}
.indicater.indicater_darkMode{
    background-color: rgb(56, 56, 56);
}

.speed {
    float: left;
    width:30%;
    color: Gray;
    box-sizing: border-box;
}

.accuracy{
    float: left;
    margin-left: 5%;
    width:30%;
    color: Gray;
    box-sizing: border-box;
}

.count{
    float: right;
    width:30%;
    color: Gray;
    box-sizing: border-box;
}

.indicate-assist{
    margin-left:-28px;
    font-size: 13px;
    color: #b9b9b9;
}


.recodeBox {
    position: absolute;
    background-color: #344136;
    height: 20px;
    width: 210px;
    left: 50%;
    right: 50%;
    top: -2%;
    margin-left: -105px;
    border-radius: 0px 0px 10px 10px;
}
.recode {
    position: absolute;
    color: rgb(230, 230, 230);
    height: 30px;
    width: 800px;
    top: 4.5%;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-top: -10px;
    border: none;
    font-size: 12px;
    text-align: center;
}



/* 3단 */
/* 출처 */
.TextSourceBox{
    color: rgb(199, 199, 199);
    margin-left:2px;
    font-size: 15px;
}

/* 문장 */
.temp{
    font-family:'Malgun Gothic';
    margin-left: 2px;
    font-weight: 600;
    font-size: 17px;
}
.temp > .normal{
    color:#a7a7a7;
}
.temp > .wrong{
    color:#ff6347;
}
temp > .correct{
    color:#000000;
}

/* 입력란 */
.content{
    font-family:'Malgun Gothic';
    font-weight: 600;
    font-size: 17px;
    color: #a7a7a7;
    background-color: transparent;
}


input:focus{
    outline:none;
}
input::placeholder{
    color:#e2e2e2
}




/* 전체선택시 색깔 */
::-moz-selection {
    background: #aacbdb;
    color: #fff;
 }
 ::selection {
    background: #aacbdb;
    color: #fff;
 }



 /* 바 */
 .textLine {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
 }


 /* 코어 */
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}

:root {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}



.shake{
    animation: shake 0.1s infinite;
}


@keyframes shake{
  0%{	transform: translate(1px, 1px) rotate(0deg);}
  10%{	transform: translate(-1px, -1px) rotate(-1deg);}
  20%{	transform: translate(3px, 1px) rotate(1deg);}
  30%{	transform: translate(3px, 2px) rotate(0deg);}
  40%{	transform: translate(1px, -1px) rotate(1deg);}
  50%{	transform: translate(-1px, 1px) rotate(-1deg);}
  60%{	transform: translate(2px, -1px) rotate(0deg);}
  70%{	transform: translate(-1px, 1px) rotate(1deg);}
  80%{	transform: translate(3px, -1px) rotate(-1deg);}
  90%{	transform: translate(1px, 3px) rotate(0deg);}
  100%{	transform: translate(1px, -2px) rotate(1deg);}
}
