.frame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
}

.wrap { 
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    /* background: rgb(171,255,248); */
    /* background: linear-gradient(180deg, rgb(247 255 254) 37%, rgb(255 255 255) 81%); */
    box-shadow: 4px 8px 16px 0 rgb(0 0 0 / 10%);
    border-color: rgb(108 108 108);
    transform: translate3d(0, 0, 0);
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #065970;
}

.wave {
    background: url(wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 3s cubic-bezier(0.32, 0.31, 0.75, 0.74) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 3s cubic-bezier(0.32, 0.31, 0.75, 0.74) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
  display:none;
}